/* reset margin, padding */
body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.baner {
    height: 780px;
    background: url('./grunge-paint-background_1409-1337.webp')center center no-repeat;
    padding: 20px;

    .ABOUT-SIGN-IN {
        height: 80px;
        width: 100%;
        text-align: right;

        .ABOUT,
        .SIGN-IN {

            margin-top: 20px;
            padding: 7px 15px;
            text-decoration: none;
            display: inline-block;
        }

        .SIGN-IN {
            margin-right: 60px;
            margin-left: 25px;

            border: 1px solid green;
            border-radius: 25px;
        }
    }

    .logo {
        background: url('./download.png')center center no-repeat;
        margin-top: 40px;
        height: 400px;
    }

    .text {
        text-align: center;
        margin-top: 30px;

        span {
            color: green;
        }
    }

    .btn-start-now {
        text-align: center;

        button {
            text-transform: uppercase;
            padding: 10px 15px;
            border: 1px solid green;
            border-radius: 25px;
            margin-top: 25px;
            cursor: pointer;

        }
    }

    .content-center {

        .left,
        .right,
        .center {
            width: 33%;
            display: inline-block;
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        span {

            display: block;
            font-size: 30px;
            padding-top: 5px;
        }

        img {
            width: 50px;
            height: 50px;
        }
    }
}